@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Rajdhani:wght@600&display=swap");

.main-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: -8px;
  overflow: hidden;
  background: radial-gradient(ellipse at center, #021a0f 0%, #000 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  color: #00ff80;
  perspective: 1000px;

  .hall-bg-wrapper {
    position: absolute;
    inset: 0;
    animation: cameraZoom 6s ease-in-out forwards,
               cameraFloat 10s 6s ease-in-out infinite alternate;
    transform-origin: center center;
    overflow: hidden;
  }

  .hall-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    z-index: 0;
    filter: brightness(0.9);
  }

  .footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 200;
    opacity: 0.8;
    color: #bcbcbc;
    font-size: 10px;
    border-collapse: collapse;
    white-space: nowrap;

    td {
      padding: 0 10px;
      vertical-align: middle;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    img {
      height: 40px;
    }

    p {
      margin: 0;
      color: #fff;
      font-family: 'Orbitron', sans-serif;
    }
  }
}

/* === Камера плавно наближається === */
@keyframes cameraZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

/* === Камера "дихає" === */
@keyframes cameraFloat {
  0% {
    transform: scale(1.6) translateY(0);
  }
  100% {
    transform: scale(1.63) translateY(-1%);
  }
}
